header.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: green;
    color: #000;
}
.header_content{
    width: 100%;
    max-width: 90rem;
    height: 4rem;
    padding: 0.75rem 1rem;
    margin: auto;
    justify-content: space-between;
}

.header_content_logo{
    color: #FFF;
    font-size: 2rem;
    font-weight: 900;

    text-align: center;
    height: 1em;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 40px;
}
.header_content_nav{
    
    align-items: center;
    padding: 0 2.5rem 0 5.5rem;
    flex-grow: 1;
}
.header_content_nav ul{
    color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header_content_nav ul li{
    display: inline-block;
    margin-right: 40px;
    font-size: 1.13rem;
    font-weight: 700;
}
.header_content_input{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: right;
}
.header_content_input .icon input{
    margin-right: 1rem;
    border: none;
    padding: 0;
    font-size: 1.5rem;
    background-color: transparent;

}

@media screen and (max-width: 550px){
    .header_content_nav{
        display: none;
    }

    .header_content_input{
        display: block;
    }
}
    
