*{
    text-align: center;
}

html{
    background-color: #9c7151;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto; /*너비에서 남는 여백을 동일하게 분배*/
}

h1{
    font-size: 50px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

p{
    font-size: 1.3rem;
}

/*
글꼴 및 색상, 자기가 원하는 스타일 추가 적용하기
*/