body{
    background-color: #87CEEB; /* 하늘색 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.snowman{
    width: 100px;
    text-align: center;
}

.hat{
    margin-bottom: 40px;
    position: relative;
}

.hat-top{
    width: 60px;
    height: 80px;
    background-color: #000;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-24%);
    border-radius: 10px 10px 0 0;
}

.hat-bottom{
    width: 80px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-31%);
}

.head{
    width: 60px;
    height: 60px;
    background-color: #ffffff; 
    border-radius: 50%;
    margin-left: 36px;
    position: relative;
}

.eye_left{
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
}

.eye_right{
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    margin-left: -4px;
    top: 20%;
    left: 65%;
}

.mouth{
    width: 20px;
    height: 27px;
    background-color: #000;
    border-radius: 0 0 40% 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.body{
    z-index: -1;
    width: 100px;
    height: 100px;
    background-color: #ffffff; 
    border-radius: 50%;
    margin-left: 18px;
    position: relative;
}


.arm_left{
    width: 100px;
    height: 5px;
    background-color: #8B4513;
    position: absolute;
    top: -19px;
    transform: translateY(-50%) rotate(-45deg);
    left: 71px;
}

.arm_right{
    width: 100px;
    height: 5px;
    background-color: #8B4513; /* 갈색으로 팔 색상 설정 */
    position: absolute;
    top: -19px;
    transform: translateY(-50%) rotate(45deg);
    right: 73px; /* 오른쪽 팔의 위치 조정 */
}



.button_1{
    width: 12px;
    height: 12px;
    background-color: #000; /* 단추의 색상, 검은색으로 설정 */
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 43px;
    transform: translateX(-5%);
    z-index: 1;
}
.button_2{
    width: 12px;
    height: 12px;
    background-color: #000; /* 단추의 색상, 검은색으로 설정 */
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 43px;
    transform: translateX(-5%);
    z-index: 1;
}
.button_3{
    width: 12px;
    height: 12px;
    background-color: #000; /* 단추의 색상, 검은색으로 설정 */
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 43px;
    transform: translateX(-5%);
    z-index: 1;
}


.bottom{
    width: 140px;
    height: 140px;
    background-color: #ffffff; 
    border-radius: 50%;
    position: relative;
}

