body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, #860799, #90c91d);

    color: #580ee3;
    text-align: center;
}

.text-box{
    padding: 20px;
    background: #FFFF;
    border: 2px solid #580ee3;
    border-radius: 10px;
}