body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

form {
    
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(35, 3, 3, 0.7);
}

label {
    display: flex;
    align-items: center;           
    margin-bottom: 8px;
}

input, .phone-input{
    width: 100%;
    padding: 8px;
    margin-bottom: 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.phone-input{
    display: flex;
}

.phone-input input{
    flex: 1;
    margin-right: 3px;
}

#gender-input {
    display: flex;
    margin-bottom: 16px;
}
#gender-input label {
    margin-right: 16px;
    white-space: nowrap;
}

#residence {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1d13a69c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

button:hover {
    background-color: #0000FF;
}

input::placeholder, .phone-input input::placeholder{
    color: #28397a8f;
}

